

/*--弹窗样式--*/

#gray{width:100%;height:100%;background:rgba(0,0,0,0.3);position:fixed;top:0px;display:none;z-index:99;}

.popupp{
	width: 533px;
	height: 570px;
	background-color: #fff;
	position: absolute;
	z-index: 100;
	border: 1px solid #ebeaea;
	left: 400px;
	top: 95px;
	display:none;
}
.popupp .top_nav{
	width:532px;
	height:46px;
	background-image: url(../image/popup_top_bj.jpg);
	border-bottom:1px solid #ebeaea;
	position:relative;
	cursor:move;
}
.popupp .top_nav i{width:35px;height:35px;background:url(../image/sucai_tubiao.png) -314px -5px;position:absolute;top:6px;left:8px;display:block; }
.popupp .top_nav span{font:18px/18px 'microsoft yahei';color:#707070;display:block;position:absolute;top:13px;left:50px;}

.popupp .top_nav a.guanbi { background:url(../image/popup_guanbi.png) repeat 0px 0px; width:35px; height: 35px; display: block; position:absolute;top:8px;right:10px;cursor:pointer;}
.popupp .top_nav a.guanbi span { display: none;}
.popupp .top_nav a.guanbi:hover { background: url(../image/popup_guanbi.png) repeat 0px -35px; }
.popupp .min{
	width: 532px;
	height: auto;
	padding: 10px;
}

.tg_login{
	width: 510px;
	height: 500px;
	background-color: #fff;
}
.tg_login .left{width:200px;height:380px;background-color:;float:left;}
.tg_login .right{
	width: 290px;
	height: 470px;

background-color:;		float: right;
	padding-right: 10px;
}
.tg_login .left h4{width:200px;height:20px;margin:20px 0 20px 0;font-size:15px;color:#666;text-align:center;}
.tg_login .left img{width:150px;margin:0 auto;display:block;border:1px solid #E3E3E3;padding:4px;}
.tg_login .left dd{width:200px;height:30px;font:13px/18px 'microsoft yahei';color:#666;margin:20px 0 10px 0;text-align:center;display:block;}

.tg_login .right  .bf{
	width: 260px;
	height: 18px;	
}
.tg_login .right  .bf .hd{font:13px/18px 'microsoft yahei';color:#666;float: right;margin:10px 0 0px 6px;}
.tg_login .right .bf .hd:hover{color:#06F;text-decoration: underline;}
.tg_login .right .frame{
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 40px;
    padding:0 0 0 34px;
	margin:10px 0px 0px 10px;
    transition: background 0.3s ease-in-out;
    width: 220px;
	float:left;
}

.tg_login .right .frame:focus {
    outline: none;
    border-color: #019A0D;
    box-shadow: 0 0 0px #019A0D;
}

.tg_login .right .input_yh{background:url(../image/tc_login_yonghu.jpg) no-repeat left top;}
.tg_login .right .input_mm{background:url(../image/tc_login_mima.jpg) no-repeat left top;}
.tg_login .right .input_yh:focus{background:url(../image/tc_login_yonghu2.jpg) no-repeat left top;}
.tg_login .right .input_mm:focus{background:url(../image/tc_login_mima2.jpg) no-repeat left top;}

.tg_login .right .hint{
    color: #F00;
    font-size: 1em;
    height: 40px;
	margin:10px 0px 0px 10px;
    width: 220px;
	display:none;
  
}
.tg_login .right .chid{
	 margin-top:340px;
	 }
.tg_login .right .chid .code
    {
     background:url(code_bg.jpg);
     font-family:Arial;
     font-style:italic;
     color:blue;
     font-size:30px;
     border:0;
     padding:2px 3px;
     letter-spacing:3px;
     font-weight:bolder;             
     float:left;            
     cursor:pointer;
     width:150px;
     height:80px;
     line-height:60px;
     text-align:center;
     vertical-align:middle;
    }

.tg_login .right .chid .hf{
    text-decoration:none;
    font-size:12px;
    color:#288bc4;
}

.tg_login .right .chid .hf:hover
{
    text-decoration:underline;
}
.tg_login .right .sex{
	margin-top:20px;
	margin-bottom:20PX;
}
.tg_login .right .buttons{
	padding-left:10px;
}
.tg_login .right .button{
-webkit-appearance: none;
    background:#36a803;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 220px;
	padding:10 50px 0 50px;
	font-weight: bold;
	}
.tg_login .right .button:hover {

    background: #019A0D;
}
